@import "uni-sans-font.css";

$back-grad-color-1: rgba(#434242, 0.1);
$back-grad-color-2: rgba(#928f8e, 0.1);

$color1: #080208;
$color2: #56566b;

body {
  width: 100vw;
  height: 100vh;
  background-color: $color1;
  text-align: center;
  font-family: "Uni Sans Thin CAPS";
}

#circles-background {
  position: relative;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 200px;
  margin: 0;
  padding: 0;
}

#main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background: radial-gradient(circle at center, $color2 0, $color2 100px,
          black 100px, black 270px, transparent 270px,
          rgba($color2, 0.8) 270px, rgba($color2, 0.5) 370px, transparent 370px, transparent 470px,
          rgba($color2, 0.5) 470px, rgba($color2, 0.2) 570px, transparent 570px);
  @media (max-width: 768px) {
    background: radial-gradient(circle at center, $color2 0, $color2 85px,
            black 85px, black 220px, transparent 220px,
            rgba($color2, 0.8) 220px, rgba($color2, 0.5) 320px, transparent 320px, transparent 420px,
            rgba($color2, 0.5) 420px, rgba($color2, 0.2) 520px, transparent 520px);
  }
  @media (max-width: 480px) {
    background: radial-gradient(circle at center, $color2 0, $color2 60px,
            black 60px, black 150px, transparent 150px,
            rgba($color2, 0.8) 150px, rgba($color2, 0.5) 200px, transparent 200px, transparent 250px,
            rgba($color2, 0.5) 250px, rgba($color2, 0.2) 300px, transparent 300px);
  }

  @media (max-height: 1100px) {
    background: radial-gradient(circle at center, $color2 0, $color2 85px,
            black 85px, black 220px, transparent 220px,
            rgba($color2, 0.8) 220px, rgba($color2, 0.5) 320px, transparent 320px, transparent 420px,
            rgba($color2, 0.5) 420px, rgba($color2, 0.2) 520px, transparent 520px);
  }
  @media (max-height: 900px) {
    background: radial-gradient(circle at center, $color2 0, $color2 60px,
            black 60px, black 150px, transparent 150px,
            rgba($color2, 0.8) 150px, rgba($color2, 0.5) 200px, transparent 200px, transparent 250px,
            rgba($color2, 0.5) 250px, rgba($color2, 0.2) 300px, transparent 300px);
  }
}

#mipt-planet {
  position: absolute;
  width: 580px;
  height: 580px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../img/mipt-planet.png");
  background-size: cover;
  background-repeat: no-repeat;
  @media (max-width: 768px) {
    width: 480px;
    height: 480px;
  }
  @media (max-width: 480px) {
    width: 320px;
    height: 320px;
  }
  @media (max-height: 1100px) {
    width: 480px;
    height: 480px;
  }
  @media (max-height: 900px) {
    width: 320px;
    height: 320px;
  }
}

#play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.2s ease;
  cursor: pointer;

  width: 150px;
  height: 150px;
  @media (max-width: 768px) {
    width: 100px;
    height: 100px;
  }
  @media (max-width: 480px) {
    width: 70px;
    height: 70px;
  }
  @media (max-height: 1100px) {
    width: 100px;
    height: 100px;
  }
  @media (max-height: 900px) {
    width: 70px;
    height: 70px;
  }
}

#lines-background {
  position: absolute;
  width: 100%;
  height: 100%;
  mix-blend-mode: soft-light;
  background: repeating-linear-gradient(-45deg, $back-grad-color-1, $back-grad-color-1 2px, $back-grad-color-2 2px, $back-grad-color-2 7px);
}

h1 {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  margin: 0;
  padding: 50px;
  white-space: nowrap;
  font-family: "Uni Sans Heavy CAPS";
  text-decoration: underline;
  color: #e6e6e6;
  font-size: 100px;
  @media (max-width: 768px) {
    font-size: 70px;
  }
  @media (max-width: 480px) {
    font-size: 40px;
  }
  @media (max-height: 1100px) {
    font-size: 70px;
  }
  @media (max-height: 900px) {
    font-size: 40px;
  }
}

#current-track-wrapper {
  height: 100%;
}

#current-track-info {
  position: relative;
  @media (min-width: 768px) {
    top: 200px;
    font-size: 30px
  }
  @media (max-width: 768px) {
    top: 150px;
    font-size: 28px
  }
  @media (max-width: 480px) {
    top: 120px;
    font-size: 26px
  }
  @media (max-height: 1100px) {
    top: 150px;
    font-size: 28px
  }
  @media (max-height: 900px) {
    top: 120px;
    font-size: 26px
  }
  transform: translate(-50%, 0%);
  @media (max-height: 700px) {
    top: 85vh;
    font-size: 26px;
    transform: translate(-50%, -100%);
  }
  left: 50%;
  padding: 10px 20px 10px 20px;
  transition: all 0.2s ease;
  text-align: center;
  color: white;
}

.play {
  background-image: url("../img/play.png");
  background-size: cover;
}

.pause {
  background-image: url("../img/pause.png");
  background-size: cover;
}