$primary: #EC9787;
$secondary: #EC9787;
$accent: #0E3A53;
$linewidth: 3px;


body {
  background-color: $primary;
}

#gallery {
  margin: 0; padding: 0;
  position: absolute;
  z-index: 1;

  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    margin: 0; padding: 0;
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    white-space: nowrap;
  }

  .photo.play-container {
    order: 1;
    background-color: white;

    #play-button {
      position: relative;
      transform: translate(-50%,-50%);
    }
  }

  .container .photo:nth-child(odd) img {
    border: solid $linewidth $primary;
  }
  .container .photo:nth-child(even) img {
    border: solid $linewidth $secondary;
  }
  .container .photo:nth-child(odd) {
    border: solid $linewidth $primary;
    background-color: $primary;
  }
  .container .photo:nth-child(even) {
    border: solid $linewidth $secondary;
    background-color: $secondary;
  }



  .photo {
    order: 0;
    height: auto;

    display: block;
    margin: 0; padding: 0;
    transition: 0.5s;

    * {
      transition: 0.5s;
      transform: rotateY(0deg);
      transform-style: preserve-3d;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  .photo.text {
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: normal;

    font-size: 2vh;
    span, a {
      padding: 10px;
      width: 100%;

      color: white;
      font-family: "Uni Sans Heavy CAPS";
      white-space: normal;
    }

    &.logo {
      font-size: 3vh;
    }

    &.social {
      font-size: 8vh;
    }

    &.current-track-block {
      order: 1;
      font-size: 2vh;
    }
  }
}

// $ms: (17 9 7 5 3 3);
// $ns: (5 5 5 5 5 7);
// $ratios: (17/5 9/5 7/5 5/5 3/5 3/7);
//
// @each $aspect in $ratios {
//   @media (min-aspect-ratio: $aspect) {
//     #gallery {
//       .photo:nth-child( nth($ms, $i) ) ~ .photo {
//         display: none;
//       }
//       .photo:nth-child(23) ~ .photo {
//         order: 2;
//       }
//       .photo {
//         width: calc(100% / $n);
//       }
//     }
//   }
// }

@media (min-aspect-ratio: 9/5) { // M = 9, N = 5
  #gallery {
    .photo:nth-child(45) ~ .photo {
      display: none;
    }
    .photo:nth-child(23) ~ .photo {
      order: 2;
    }

    .photo:nth-child(23) ~ .photo:nth-child(even) {
      background-color: $primary;
      img {
        border: solid $linewidth $primary;
      }
    }
    .photo:nth-child(23) ~ .photo:nth-child(odd) {
      background-color: $secondary;
      img {
        border: solid $linewidth $secondary;
      }
    }

    .photo {
      width: 11%;
    }
  }
}

@media (max-aspect-ratio: 9/5) { // M = 7, N = 5
  #gallery {
    .photo:nth-child(35) ~ .photo {
      display: none;
    }
    .photo:nth-child(18) ~ .photo {
      order: 2;
    }

    .photo:nth-child(18) ~ .photo:nth-child(even) {
      background-color: $primary;
      img {
        border: solid $linewidth $primary;
      }
    }
    .photo:nth-child(18) ~ .photo:nth-child(odd) {
      background-color: $secondary;
      img {
        border: solid $linewidth $secondary;
      }
    }

    .photo {
      width: 14%;
    }
  }
}

@media (max-aspect-ratio: 7/5) { // M = 5, N = 5
  #gallery {
    .photo:nth-child(25) ~ .photo {
      display: none;
    }
    .photo:nth-child(13) ~ .photo {
      order: 2;
    }

    .photo:nth-child(13) ~ .photo:nth-child(even) {
      background-color: $primary;
      img {
        border: solid $linewidth $primary;
      }
    }
    .photo:nth-child(13) ~ .photo:nth-child(odd) {
      background-color: $secondary;
      img {
        border: solid $linewidth $secondary;
      }
    }

    .photo {
      width: 20%;
    }
  }
}

@media (max-aspect-ratio: 5/5) { // M = 3, N = 5
  #gallery {
    .photo:nth-child(15) ~ .photo {
      display: none;
    }
    .photo:nth-child(8) ~ .photo {
      order: 2;
    }

    .photo:nth-child(8) ~ .photo:nth-child(even) {
      background-color: $primary;
      img {
        border: solid $linewidth $primary;
      }
    }
    .photo:nth-child(8) ~ .photo:nth-child(odd) {
      background-color: $secondary;
      img {
        border: solid $linewidth $secondary;
      }
    }

    .photo {
      width: 33%;
    }
  }
}

@media (max-aspect-ratio: 3/5) { // M = 3, N = 7
  #gallery {
    .photo:nth-child(21) ~ .photo {
      display: none;
    }
    .photo:nth-child(11) ~ .photo {
      order: 2;
    }

    .photo:nth-child(11) ~ .photo:nth-child(even) {
      background-color: $primary;
      img {
        border: solid $linewidth $primary;
      }
    }
    .photo:nth-child(11) ~ .photo:nth-child(odd) {
      background-color: $secondary;
      img {
        border: solid $linewidth $secondary;
      }
    }

    .photo {
      width: 33%;
    }
  }
}

#gallery {
  .photo.text {
    background: radial-gradient(ellipse at center, rgba(160,160,160,1) 0%,rgba(75,75,75,1) 100%) !important;
    border-width: 2*$linewidth !important;
  }
}
